<!-- blog.component.html -->

<div class="container">
  <div class="part-one py-2" data-aos="fade-down" data-aos-duration="1000">
    <h2>A la une</h2>
    <div class="a-la-une" *ngFor="let article of art">
      <div class="overlay">
        <div class="a-la-une-cont">
          <h3 class="title-blog-une">{{ article.titre }}</h3>
          <div class="detail">
            <span><i class="fa-solid fa-calendar me-2"></i>{{ article.date | date : "d-M-Y" }}</span><br />
            <span><i class="fa-solid fa-user-pen me-1"></i>Auteur:
              <a class="auteur">{{ article.auteur }}</a></span><br />
            <span><i class="fa-solid fa-tag me-1"></i>Tags:
              <span *ngFor="let tags of article.tags" class="btn btn-sm btn-outline-light m-2"
                flixCoverHover>{{ tags }}</span></span>
          </div>
          <p>{{ article.contenu | shorten : 550 }}</p>
          <button class="btn btn-plus" (click)="voirPlus(article.id)">Voir plus</button>
        </div>
      </div>
    </div>
  </div>
  <div class="part-two py-2">
    <h2>Tous les articles</h2>
    <div class="row tout-blog-art p-4" *ngFor="let article of articles" data-aos="fade-up" data-aos-duration="1000">
      <div class="col-lg-6 col-sm-6 col-sm-12">
        <img
          src="https://static.vecteezy.com/ti/vecteur-libre/p1/7500244-diplome-reussite-universite-apprentissage-education-illustrationle-modele-vecteur-plat-gratuit-vectoriel.jpg"
          class="img-fluid" alt="" />
        <!--           <div class="card text-start">
            <img
              class="card-img-top"
              src="https://static.vecteezy.com/ti/vecteur-libre/p1/7500244-diplome-reussite-universite-apprentissage-education-illustrationle-modele-vecteur-plat-gratuit-vectoriel.jpg"
              alt="Title"
            />
            <div class="card-body">
              <h3 class="title-blog">{{ article.titre }}</h3>
              <div class="detail">
                <span
                  ><i class="fa-solid fa-calendar me-2"></i
                  >{{ article.date | date : "d-M-Y" }}</span
                ><br />
                <span
                  ><i class="fa-solid fa-user-pen me-1"></i>Auteur:
                  <a class="auteur">{{ article.auteur }}</a></span
                ><br />
                <span
                  ><i class="fa-solid fa-tag me-1"></i>Tags:
                  <span
                    *ngFor="let tags of article.tags"
                    class="btn btn-sm btn-outline-dark m-1"
                    >{{ tags }}</span
                  ></span
                >
              </div>
              <p>{{ article.contenu | shorten : 550 }}</p>
              <button class="btn btn-plus">Voir plus</button>
            </div>
          </div> -->
      </div>
      <div class="col-lg-6 col-sm-6 col-sm-12">
        <div class="detail-tout">
          <h3 class="title-blog">{{ article.titre }}</h3>
          <div class="detail">
            <span><i class="fa-solid fa-calendar me-2"></i>{{ article.date | date : "d-M-Y" }}</span><br />
            <span><i class="fa-solid fa-user-pen me-1"></i>Auteur:
              <a class="auteur">{{ article.auteur }}</a></span><br />
            <span><i class="fa-solid fa-tag me-1"></i>Tags:
              <span *ngFor="let tags of article.tags" class="btn btn-sm btn-outline-dark m-1"
                flixCoverHover>{{ tags }}</span></span>
          </div>
          <p>{{ article.contenu | shorten : 550 }}</p>
          <button class="btn btn-plus" (click)="voirPlus(article.id)">
            Voir plus
          </button>
        </div>
      </div>
    </div>
  </div>
</div>