/* blog.component.css */
.a-la-une {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 400px; /* Ajustez la hauteur selon vos besoins */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fond noir transparent, ajustez l'opacité selon vos besoins */
  color: white; /* Couleur du texte */
}

.overlay h2 {
  margin: 0;
}

.a-la-une::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/7500244-diplome-reussite-universite-apprentissage-education-illustrationle-modele-vecteur-plat-gratuit-vectoriel.jpg");
  opacity: 1; /* L'image de fond n'a pas besoin d'opacité */
}

.title-blog-une {
  font-size: 2.4em;
}

.a-la-une-cont {
  width: 65%;
  padding: 20px 0 0 25px;
}

.auteur {
  color: rgb(52, 40, 180);
}

/* .tout-blog-art{
  border: 1px solid rgb(212, 212, 212);
} */

.btn-plus {
  background-color: #1b978d;
  color: #fff;
  transition: all ease-in-out;
}

.btn-plus:hover {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: -1px;
}

.btn-plus:active {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: 1px;
}
