<section class="login">
  <div class="login-content px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight text-center">
            <!-- The best offer <br /> -->
            <span>Inscription apprenti</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque? -->

            <img src="assets/img/accueil/login2.png" class="card-img-top" alt="..."
              style="height: 300px; object-fit: cover;" />
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <div class="form-outline mb-4">
                  <label class="form-label" for="nom">Nom</label>
                  <input type="text" id="nom" class="form-control" [(ngModel)]="nom" name="nom" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="prenom">Prénom</label>
                  <input type="text" id="prenom" class="form-control" [(ngModel)]="prenom" name="prenom" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="nomUtilisateur">Nom utilisateur</label>
                  <input type="text" id="nomUtilisateur" class="form-control" [(ngModel)]="nomUtilisateur"
                    name="nomUtilisateur" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="dateDeNaissance">Date de naissance</label>
                  <input type="date" id="dateDeNaissance" class="form-control" [(ngModel)]="dateDeNaissance"
                    name="dateDeNaissance" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="numeroTelephone">Téléphone</label>
                  <input type="numeroTelephone" id="numeroTelephone" class="form-control" [(ngModel)]="numeroTelephone"
                    name="numeroTelephone" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="adresse">Adresse</label>
                  <input type="adresse" id="adresse" class="form-control" [(ngModel)]="adresse" name="adresse" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="motDePasse">Mot de passe</label>
                  <input type="password" id="motDePasse" class="form-control" [(ngModel)]="motDePasse"
                    name="motDePasse" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="motDePasse1">Confirmer mot de passe</label>
                  <input type="password" id="motDePasse1" class="form-control" [(ngModel)]="motDePasse1"
                    name="motDePasse1" />
                </div>

                <!-- Submit button -->
                <button class="btn btn-l w-100 btn-block mb-4" (click)="inscription()">
                  Valider
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>