<section class="login">
  <div class="login-content px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight text-center">
            <!-- The best offer <br /> -->
            <span>Connexion</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque? -->

            <img
            src="assets/img/accueil/login2.png"
            class="card-img-top" alt="..." style="height: 300px; object-fit: cover;" />
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <h3>{{type.toUpperCase()}}</h3>
              <p class="message">{{ message }} </p>
              <form #loginForm="ngForm">
                <!-- Login input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Nom d'utilisateur ou email</label>
                  <input type="email" id="username" class="form-control" [(ngModel)]="username" name="username" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Mot de passe</label>
                  <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" />
                </div>

                <!-- Checkbox -->
                <!-- <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="remindMe" />
                  <label class="form-check-label" for="remindMe">
                    Se souvenir de moi
                  </label>
                  <span class="mx-2">|</span>
                  <a class="lostmdp" (click)="mdpLost()">Mot de passe oublié?</a>
                </div> -->

                <!-- mdp Lost message-->
                <div class="mdpLostMessage text-center mb-4" *ngIf="mdpLostMessage">
                  {{ mdpLostMessage }} 😜
                </div>

                <!-- Submit button -->
                <button class="btn btn-l d-block w-100" (click)="logIn()">
                  Se connecter
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>