.login {
  height: 91vh;
}

.login-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.btn-l {
  background-color: #017679;
  color: #fff;
  transition: all ease-in-out;
}

.btn-l:hover {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #017679;
  color: #000000;

  top: -1px;
}

.btn-l:active {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #017679;
  color: #000000;

  top: 1px;
}

.message {
  background-color: #c4c4c4;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}

.lostmdp:hover {
  cursor: pointer;
 }
