.img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.profile {
  border-radius: 50%;
}

.btn-smt {
  background-color: #1b978d;
  color: #fff;
  transition: all ease-in-out;
}

.btn-smt:hover {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: -1px;
}

.btn-smt:active {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: 1px;
}
