<div class="container" data-aos="fade-down" data-aos-duration="1700">
  <div class="article-full pt-2">
    <img
      src="https://static.vecteezy.com/ti/vecteur-libre/p1/7500244-diplome-reussite-universite-apprentissage-education-illustrationle-modele-vecteur-plat-gratuit-vectoriel.jpg"
      class="img-fluid img" alt="" />
    <div class="detail-tout py-4">
      <h3 class="title-blog">{{ art.titre }}</h3>
      <hr />
      <div class="detail">
        <span><i class="fa-solid fa-calendar me-2"></i>{{ art.date | date : "d-M-Y" }}</span><br />
        <span><i class="fa-solid fa-user-pen me-1"></i>Auteur:
          <a class="auteur">{{ art.auteur }}</a></span><br />
        <span><i class="fa-solid fa-tag me-1"></i>Tags:
          <span *ngFor="let tags of art.tags" class="btn btn-sm btn-outline-dark m-1"
            flixCoverHover>{{ tags }}</span></span>
      </div>
      <hr />
      <p>{{ art.contenu }}</p>
    </div>
  </div>

  <div class="commentaire pb-3">
    <h2 class="pb-3">Commentaires:</h2>
    <div class="row">
      <div class="col-4 text-center">
        <img src="../../../assets/avatar/1.jpg" class="img-fluid profile" alt="" />
        <p class="fs-4">Rasoa Jeanine</p>
        <span class="text-primary">700k Followers</span> |
        <span class="text-primary">1 Follow</span>
      </div>
      <div class="col-8">
        <hr />
        <p>
          Vérité qu'on ne peuvent pas nier. J'encourage aux jeunes gens, surtout
          les Malgaches, parceque je suis d'origine Andavamamba, de bien
          préparer son avenir. Avoir des citoyens bien éduquer c'est la clé du
          développement d'un pays.
        </p>
        <hr />
        <span><i class="fa-solid fa-heart me-1" style="color: red"></i>28k
          J'aime</span>
        <span class="ms-2"><i class="fa-solid fa-share me-1"></i>1M Partage</span>
      </div>
    </div>
  </div>

  <div class="repondre py-3">
    <h2 class="pb-3">Repondre:</h2>
    <form class="d-flex">
      <div class="col">
        <div class="mb-3">
          <label for="" class="form-label">Nom</label>
          <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" />
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Adress email</label>
          <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Votre commentaire</label>
          <textarea rows="4" class="form-control"> </textarea>
        </div>
        <button class="btn btn-smt">Soumettre</button>
      </div>
    </form>
  </div>
</div>