<div class="container">
  <h1>Formateurs</h1>
  <!-- <hr>
  <div class="row">
    <div class="col-4" *ngFor="let f of dataFormateur">
      <div class="card">
        <img class="card-img-top" src="assets/img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Rabe Zaka</h4>
          <p><span class="left-span">Nom:</span> {{f.nom}}</p>
          <p><span class="left-span">Prénom(s):</span> {{f.prenom}}</p>
          <p><span class="left-span">Email:</span> {{f.mail}}</p>
          <p><span class="left-span">Phone:</span> +261325896547</p>
          <p><span class="left-span">Formateur en:</span> Informatique</p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">
              <table class="table user-list">
                <thead>
                  <tr>
                    <th><span>Formateur</span></th>
                    <th><span>Date d'adhésion</span></th>
                    <th class="text-center"><span>Statut</span></th>
                    <th><span>Email</span></th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let f of dataFormateur">
                    <td>
                      <img src="../../../assets/avatar/base.jpg" alt="">
                      {{f.nom}} {{f.prenom}}
                    </td>
                    <td>2023/08/12</td>
                    <td class="text-center">
                      <span class="label label-default">{{f.statut === 0 ? 'Non validé' : 'Validé'}}</span>
                    </td>
                    <td>
                      <a href="#">{{f.mail}}</a>
                    </td>
                    <td style="width: 20%;">
                      <button *ngIf="f.statut === 0" type="button" class="btn btn-success"
                        (click)="validerFormateur(f.id)">
                        Valider
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>