@font-face {
  font-family: "Pose"; /* Nom de la police que vous utiliserez dans votre CSS */
  src: url("../../../assets/fonts/pose.otf") format("opentype"); /* Chemin d'accès à votre fichier de police */
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: #1b978d;
  right: 0;
  left: 0;
  z-index: 1;
  border-bottom: 2px solid rgb(202, 202, 202);
}

.navbar-brand {
  padding: 7px;
}

.menu {
  justify-content: end;
}

a {
  color: #fff;
  animation: border-bottom 2s ease-in-out;
}

a:hover {
  cursor: pointer;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.img-profil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}

.brand-base {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .logo {
  padding-top: 5px;
  width: 40px;
  height: 40px;
  object-fit: cover;
} */

.logo-text {
  font-size: 1.2em;
  font-family: "Pose", sans-serif;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  letter-spacing: 1.5px;
  background-color: #0b3a36;
}
