<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-dark brand-base" routerLink="accueil"><span
        class="logo-text">Progress.Connect</span></a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div *ngIf="!isLoggedIn() || typeUserData === 'visiteur'" [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse menu">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link" routerLink="accueil" routerLink="accueil" (click)="isMenuCollapsed = true">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="accueil" (click)="scrollToSection('cmt'); isMenuCollapsed = true">Comment ça
            marche?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="accueil" (click)="scrollToSection('why'); isMenuCollapsed = true">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="accueil" (click)="scrollToSection('faqs'); isMenuCollapsed = true">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="accueil"
            (click)="scrollToSection('contact'); isMenuCollapsed = true">Contactez-nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" (click)="isMenuCollapsed = true">Blog</a>
        </li>
      </ul>
      <!-- <div class="" *ngIf="!isLoggedIn()">
        <button class="mx-2 btn btn-outline-dark" (click)="goToLogIn()">
          Se connecter
        </button>
        <button class="mx-2 btn btn-outline-dark" (click)="goToSignIn()">
          Créer un compte
        </button>
      </div> -->
    </div>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div *ngIf="isLoggedIn() && typeUserData === 'apprentis'" [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link" routerLink="formation/list-formation" (click)="isMenuCollapsed = true">Formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="quiz" (click)="isMenuCollapsed = true">Quiz orientation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" (click)="isMenuCollapsed = true">Blog</a>
        </li>
      </ul>
      <!--  -->
      <div ngbDropdown class="d-flex ms-auto" autoClose="true" *ngIf="isLoggedIn()">
        <p style="color: #fff">
          Bienvenue, {{ userData.nom }} {{ userData.prenom }}
        </p>
        <img src="../../../assets/avatar/base.jpg" alt="" class="img-profil me-2" type="button" id="dropdownBasic1"
          ngbDropdownToggle />
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Profil</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="goToLogout()">Se déconnecter</button>
        </div>
      </div>
    </div>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div *ngIf="isLoggedIn() && typeUserData === 'formateur'" [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link" routerLink="formation/list-formation" (click)="isMenuCollapsed = true">Formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" (click)="isMenuCollapsed = true">Blog</a>
        </li>
      </ul>
      <!--  -->
      <div ngbDropdown class="d-flex ms-auto" autoClose="true" *ngIf="isLoggedIn()">
        <p style="color: #fff">
          Bienvenue, {{ userData.nom }} {{ userData.prenom }}
        </p>
        <img src="../../../assets/avatar/base.jpg" alt="" class="img-profil me-2" type="button" id="dropdownBasic1"
          ngbDropdownToggle />
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Profil</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="goToLogout()">Se déconnecter</button>
        </div>
      </div>
    </div>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div *ngIf="isLoggedIn() && typeUserData === 'societe'" [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link" routerLink="formation/list-formation" (click)="isMenuCollapsed = true">Formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="formation/list-formateur/{{ userData.id }}"
            (click)="isMenuCollapsed = true">Formateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" (click)="isMenuCollapsed = true">Blog</a>
        </li>
      </ul>
      <!--  -->
      <div ngbDropdown class="d-flex ms-auto" autoClose="true" *ngIf="isLoggedIn()">
        <p style="color: #fff">
          Bienvenue, {{ userData.nom }} {{ userData.prenom }}
        </p>
        <img src="../../../assets/avatar/base.jpg" alt="" class="img-profil me-2" type="button" id="dropdownBasic1"
          ngbDropdownToggle />
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="goToDashboard()" ngbDropdownItem>
            Tableau de bord
          </button>

          <button ngbDropdownItem>Profil</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="goToLogout()">Se déconnecter</button>
        </div>
      </div>
    </div>
  </div>
</nav>