<div id="formation" class="container">
  <div class="detail">
    <div class="row" style="align-items: center">
      <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
        <h1 class="">{{ dataFormation.titreFormation }}</h1>
        <p>{{ dataFormation.descFormation }}</p>
        <p><span class="left-span">Catégorie:</span> Informatique</p>
        <p>
          <span class="left-span">Formateur:</span>
          {{ dataFormation.formateur_nom }} {{ dataFormation.formateur_prenom }}
          <a
            class="profil-formateur"
            (click)="goToFormateur(dataFormation.idFormateur)"
            >Voir son profil</a
          >
        </p>
        <p>
          <span class="left-span">Tarif:</span>
          {{ dataFormation.tarif | number : "1.2-2" }} Ariary
        </p>
        <!--  -->

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Paiement par:</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                <img
                  src="https://media.licdn.com/dms/image/C4D0BAQHd7Lun2sIB2g/company-logo_200_200/0/1637308967678/mvola_by_telma_logo?e=1707350400&v=beta&t=0KWamjbHpVUFH15KOdthTTHo4THN94EkHxPh6xKx31Q"
                  alt=""
                  class="img-profil me-2 mt-3"
                />
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                <img
                  src="https://monisnapcontent.kinsta.cloud/wp-content/uploads/2020/09/fit.jpg"
                  alt=""
                  class="img-profil me-2 mt-3"
                />
              </label>
            </div>
            <!--  -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault3"
              />
              <label class="form-check-label" for="flexRadioDefault3">
                <img
                  src="https://hapakenya.com/wp-content/uploads/2016/08/Airtel-Money.jpg"
                  alt=""
                  class="img-profil me-2 mt-3"
                />
              </label>
            </div>
            <div class="">
              <label for=""> Votre numéro:</label>
              <input type="text" class="form-control w-50" />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="
                insertApprentisEtFormation(dataFormation.formation_id);
                modal.close('Close click')
              "
            >
              Valider
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Close click')"
            >
              Fermer
            </button>
          </div>

          <!--  -->
        </ng-template>

        <ng-template #content1 let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Vos supports de cours</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <h4>Livres éléctronique:</h4>
                <p *ngFor="let i of [1, 2, 3]">
                  <i class="fa-solid fa-file-pdf"></i>
                  <a
                    href="assets/Education.pdf"
                    download="{{ 'Cours' + i + '.pdf' }}"
                    >Cours {{ i }}</a
                  >
                </p>
              </div>
              <div class="col-12">
                <h4>Vidéo:</h4>
                <video
                  id="my_video_1"
                  class="video-js vjs-default-skin"
                  width="400px"
                  height="150px"
                  controls
                  preload="none"
                  poster="http://video-js.zencoder.com/oceans-clip.jpg"
                  data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
                >
                  <source
                    src="https://vjs.zencdn.net/v/oceans.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="https://vjs.zencdn.net/v/oceans.webm"
                    type="video/webm"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Close click')"
            >
              Fermer
            </button>
          </div>

          <!--  -->
        </ng-template>

        <ng-template #content2 let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Vos supports de cours</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row text-center" *ngIf="apprentis">
              <div class="col-6" *ngFor="let ap of apprentis">
                <img
                  class="card-img-top"
                  [src]="ap.img"
                  alt="Card image"
                  style="width: 50%"
                />
                <p>{{ ap.nom }}</p>
                <!-- <p class="card-text">Some example text.</p> -->
                <span><a href="#" class="btn btn-default">Voir profil</a></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Close click')"
            >
              Fermer
            </button>
          </div>

          <!--  -->
        </ng-template>

        <ng-template #content3 let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Discussion</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <section style="background-color: #eee">
              <div class="container py-5">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card" id="chat2">
                      <div
                        class="card-body"
                        data-mdb-perfect-scrollbar="true"
                        style="position: relative; height: 400px"
                      >
                        <div class="d-flex flex-row justify-content-start">
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                            alt="avatar 1"
                            style="width: 45px; height: 100%"
                          />
                          <div>
                            <p
                              class="small p-2 ms-3 mb-1 rounded-3"
                              style="background-color: #f5f6f7"
                            >
                              Bonjour
                            </p>
                            <p
                              class="small p-2 ms-3 mb-1 rounded-3"
                              style="background-color: #f5f6f7"
                            >
                              Heureux de vous avoir parmi mon équipe
                            </p>
                            <p
                              class="small p-2 ms-3 mb-1 rounded-3"
                              style="background-color: #f5f6f7"
                            >
                              N'hésitez pas de poser des questions!
                            </p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted">
                              23:58
                            </p>
                          </div>
                        </div>

                        <div class="divider d-flex align-items-center mb-4">
                          <p
                            class="text-center mx-3 mb-0"
                            style="color: #a2aab7"
                          >
                            Aujourd'hui
                          </p>
                        </div>

                        <div
                          class="d-flex flex-row justify-content-end mb-4 pt-1"
                        >
                          <div>
                            <p
                              class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary"
                            >
                              Bonjour
                            </p>
                            <p
                              class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end"
                            >
                              00:06
                            </p>
                          </div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                            alt="avatar 1"
                            style="width: 45px; height: 100%"
                          />
                        </div>
                      </div>
                      <div
                        class="card-footer text-muted d-flex justify-content-start align-items-center p-3"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                          alt="avatar 3"
                          style="width: 40px; height: 100%"
                        />
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          id="exampleFormControlInput1"
                          placeholder="Type message"
                        />
                        <a class="ms-1 text-muted"
                          ><i class="fas fa-paperclip"></i
                        ></a>
                        <a class="ms-3 text-muted"
                          ><i class="fas fa-smile"></i
                        ></a>
                        <a class="ms-3"><i class="fas fa-paper-plane"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Close click')"
            >
              Fermer
            </button>
          </div>

          <!--  -->
        </ng-template>

        <ng-template #content4 let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Discussion</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <!-- <section style="background-color: #CDC4F9;">
              <div class="container py-5">

                <div class="row">
                  <div class="col-md-12">

                    <div class="card" id="chat3" style="border-radius: 15px;">
                      <div class="card-body">

                        <div class="row">
                          <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                            <div class="p-3">

                              <div class="input-group rounded mb-3">
                                <input type="search" class="form-control rounded" placeholder="Search"
                                  aria-label="Search" aria-describedby="search-addon" />
                                <span class="input-group-text border-0" id="search-addon">
                                  <i class="fas fa-search"></i>
                                </span>
                              </div>

                              <div data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                                <ul class="list-unstyled mb-0">
                                  <li class="p-2 border-bottom">
                                    <a href="#!" class="d-flex justify-content-between">
                                      <div class="d-flex flex-row">
                                        <div>
                                          <img
                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                          <span class="badge bg-success badge-dot"></span>
                                        </div>
                                        <div class="pt-1">
                                          <p class="fw-bold mb-0">Marie Horwitz</p>
                                          <p class="small text-muted">Hello, Are you there?</p>
                                        </div>
                                      </div>
                                      <div class="pt-1">
                                        <p class="small text-muted mb-1">Just now</p>
                                        <span class="badge bg-danger rounded-pill float-end">3</span>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="p-2 border-bottom">
                                    <a href="#!" class="d-flex justify-content-between">
                                      <div class="d-flex flex-row">
                                        <div>
                                          <img
                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                          <span class="badge bg-warning badge-dot"></span>
                                        </div>
                                        <div class="pt-1">
                                          <p class="fw-bold mb-0">Alexa Chung</p>
                                          <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                        </div>
                                      </div>
                                      <div class="pt-1">
                                        <p class="small text-muted mb-1">5 mins ago</p>
                                        <span class="badge bg-danger rounded-pill float-end">2</span>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="p-2 border-bottom">
                                    <a href="#!" class="d-flex justify-content-between">
                                      <div class="d-flex flex-row">
                                        <div>
                                          <img
                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                          <span class="badge bg-success badge-dot"></span>
                                        </div>
                                        <div class="pt-1">
                                          <p class="fw-bold mb-0">Danny McChain</p>
                                          <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                        </div>
                                      </div>
                                      <div class="pt-1">
                                        <p class="small text-muted mb-1">Yesterday</p>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="p-2 border-bottom">
                                    <a href="#!" class="d-flex justify-content-between">
                                      <div class="d-flex flex-row">
                                        <div>
                                          <img
                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                          <span class="badge bg-danger badge-dot"></span>
                                        </div>
                                        <div class="pt-1">
                                          <p class="fw-bold mb-0">Ashley Olsen</p>
                                          <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                        </div>
                                      </div>
                                      <div class="pt-1">
                                        <p class="small text-muted mb-1">Yesterday</p>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="p-2 border-bottom">
                                    <a href="#!" class="d-flex justify-content-between">
                                      <div class="d-flex flex-row">
                                        <div>
                                          <img
                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                          <span class="badge bg-warning badge-dot"></span>
                                        </div>
                                        <div class="pt-1">
                                          <p class="fw-bold mb-0">Kate Moss</p>
                                          <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                        </div>
                                      </div>
                                      <div class="pt-1">
                                        <p class="small text-muted mb-1">Yesterday</p>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="p-2">
                                    <a href="#!" class="d-flex justify-content-between">
                                      <div class="d-flex flex-row">
                                        <div>
                                          <img
                                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                          <span class="badge bg-success badge-dot"></span>
                                        </div>
                                        <div class="pt-1">
                                          <p class="fw-bold mb-0">Ben Smith</p>
                                          <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                        </div>
                                      </div>
                                      <div class="pt-1">
                                        <p class="small text-muted mb-1">Yesterday</p>
                                      </div>
                                    </a>
                                  </li>
                                </ul>
                              </div>

                            </div>

                          </div>

                          <div class="col-md-6 col-lg-7 col-xl-8">

                            <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true"
                              style="position: relative; height: 400px">

                              <div class="d-flex flex-row justify-content-start">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Lorem
                                    ipsum
                                    dolor
                                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore
                                    magna aliqua.</p>
                                  <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                </div>
                              </div>

                              <div class="d-flex flex-row justify-content-end">
                                <div>
                                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Ut enim ad minim
                                    veniam,
                                    quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                  <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                              </div>

                              <div class="d-flex flex-row justify-content-start">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Duis aute
                                    irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.
                                  </p>
                                  <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                </div>
                              </div>

                              <div class="d-flex flex-row justify-content-end">
                                <div>
                                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Excepteur sint occaecat
                                    cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                  <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                              </div>

                              <div class="d-flex flex-row justify-content-start">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Sed ut
                                    perspiciatis
                                    unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                    rem
                                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                    vitae
                                    dicta
                                    sunt explicabo.</p>
                                  <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                </div>
                              </div>

                              <div class="d-flex flex-row justify-content-end">
                                <div>
                                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Nemo enim ipsam
                                    voluptatem quia
                                    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                    qui
                                    ratione voluptatem sequi nesciunt.</p>
                                  <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                              </div>

                              <div class="d-flex flex-row justify-content-start">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Neque
                                    porro
                                    quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                    non
                                    numquam
                                    eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                  </p>
                                  <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                </div>
                              </div>

                              <div class="d-flex flex-row justify-content-end">
                                <div>
                                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Ut enim ad minima
                                    veniam,
                                    quis
                                    nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                                    commodi
                                    consequatur?</p>
                                  <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                  alt="avatar 1" style="width: 45px; height: 100%;">
                              </div>

                            </div>

                            <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                alt="avatar 3" style="width: 40px; height: 100%;">
                              <input type="text" class="form-control form-control-lg" id="exampleFormControlInput2"
                                placeholder="Type message">
                              <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                              <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                              <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </section> -->
            <img
              class="img-fluid img-formation"
              style="width: max-content; object-fit: contain"
              src="{{ 'assets/chat.PNG' }}"
              alt="Title"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Close click')"
            >
              Fermer
            </button>
          </div>

          <!--  -->
        </ng-template>

        <button
          *ngIf="
            isLoggedIn() &&
            typeUserData === 'apprentis' &&
            (apprentisEtFormation === null ||
              apprentisEtFormation === undefined ||
              (apprentisEtFormation !== null &&
                apprentisEtFormation !== undefined &&
                apprentisEtFormation.etatPaiement === 0))
          "
          class="btn btn-paye mb-2 me-2"
          (click)="openVerticallyCentered(content)"
        >
          Participer
        </button>
        <button
          *ngIf="
            isLoggedIn() &&
            typeUserData === 'apprentis' &&
            apprentisEtFormation !== null &&
            apprentisEtFormation !== undefined &&
            apprentisEtFormation.etatPaiement === 1
          "
          class="btn btn-paye mb-2 me-2"
          (click)="openVerticallyCentered(content1)"
        >
          Voir les supports de cours
        </button>
        <button
          *ngIf="
            isLoggedIn() &&
            typeUserData === 'apprentis' &&
            apprentisEtFormation !== null &&
            apprentisEtFormation !== undefined &&
            apprentisEtFormation.etatPaiement === 1
          "
          class="btn btn-paye mb-2 me-2"
          (click)="openVerticallyCentered(content3)"
        >
          Discuter avec le formateur
        </button>
        <button
          *ngIf="isLoggedIn() && typeUserData !== 'apprentis'"
          class="btn btn-paye mb-2 me-2"
          (click)="openVerticallyCentered(content2)"
        >
          Voir les apprentis
        </button>
        <button
          *ngIf="isLoggedIn() && typeUserData === 'formateur'"
          class="btn btn-paye mb-2 me-2"
          (click)="openVerticallyCentered(content4)"
        >
          Discuter avec les apprentis
        </button>
      </div>
      <div
        class="col-lg-6 align-self-center"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <img
          class="img-fluid img-formation"
          src="{{
            'assets/img/formation/' + dataFormation.formation_id + '.jfif'
          }}"
          alt="Title"
        />
      </div>
    </div>
    <!--  -->
    <br /><br />
    <hr />
    <!-- <div *ngIf="
          isLoggedIn() &&
          typeUserData === 'apprentis' &&
          apprentisEtFormation !== null &&
          apprentisEtFormation !== undefined &&
          apprentisEtFormation.etatPaiement === 1
        " class="support">
      <h1 class="">Supports de cours</h1>
      <hr />
      <div class="row my-5">
        <div class="col-12">
          <h4>Livres éléctronique:</h4>
          <p *ngFor="let i of [1, 2, 3]">
            <i class="fa-solid fa-file-pdf"></i>
            <a href="assets/Education.pdf" download="{{ 'Cours' + i + '.pdf' }}">Cours {{ i }}</a>
          </p>
        </div>
        <div class="col-12">
          <h4>Vidéo:</h4>
          <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
            poster="http://video-js.zencoder.com/oceans-clip.jpg"
            data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
            <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
            <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm" />
          </video>
        </div>
      </div>
    </div> -->
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
