<div id="formation" class="container">
  <div class="detail">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
        <h1 class="">Profil</h1>
        <p><span class="left-span">Nom:</span> {{ dataFormateur.nom }}</p>
        <p>
          <span class="left-span">Prénom(s):</span> {{ dataFormateur.prenom }}
        </p>
        <p><span class="left-span">Formateur en:</span> Informatique</p>
        <p><span class="left-span">Société:</span> Socobis</p>
        <h3 class="text-center">
          Qui est {{ dataFormateur.nom }} {{ dataFormateur.prenom }} ?
        </h3>
        <p>
          {{ dataFormateur.miniBiographie }}
        </p>
      </div>
      <div
        class="col-lg-6 align-self-center"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <img
          class="img-fluid img-formation"
          src="https://www.e-smarttec.com/images/devenir-formateur.jpg"
          alt="Title"
        />
      </div>
    </div>
  </div>
</div>
