#formation {
  height: 89.5vh;
  display: flex;
  align-items: center;
}

.left-span {
  font-weight: bold;
  text-decoration: underline;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.btn-paye {
  background-color: #1b978d;
  color: #fff;
  transition: all ease-in-out;
}

.btn-paye:hover {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: -1px;
}

.btn-paye:active {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: 1px;
}

.img-profil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(182, 182, 182);
}

.profil-formateur:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.img-formation {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.support {
}

#chat2 .form-control {
  border-color: transparent;
}

#chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}
