<div class="container">
  <div class="intro-formation">
    <div *ngIf="isLoggedIn() && typeUserData === 'apprentis'">
      <h1>Découvrez nos formations diplômantes</h1>
      <p>
        Apprenez des compétences d’aujourd’hui et un métier qui a de l’avenir
        avec nos formations.
      </p>
      <p>Si vous ne connaisez pas encore clairement votre spécialité, on vous invite à passer le <b>quiz
          d'orientation</b> pour
        mieux vous orienter dans votre carrière professionnelle.</p>
      <hr />
      <div *ngIf="isLoggedIn() && typeUserData === 'apprentis'">
        <h1>Vos formations</h1>
        <swiper-container *ngIf="dataApprentiFormation" navigation="true" scrollbar="true" slides-per-view="3.5"
          data-aos="fade-left" data-aos-duration="1500">
          <swiper-slide class="col-lg-4 mx-2 info-formation" *ngFor="let f of dataApprentiFormation" lazy="true"
            flixCoverHover>
            <img class="card-img-top" src="{{
                'assets/img/formation/' +
                  f.VueApprentisEtFormation.formation_id +
                  '.jfif'
              }}" alt="Title" loading="lazy" />
            <div class="title-formation-container py-2">
              <h4 class="title-formation card-title mb-3">
                {{ f.VueApprentisEtFormation.titreFormation }}
              </h4>
            </div>
            <hr />
            <span class="badge bg-success">{{ f.etatFormation }}</span>
            <hr />
            <div class="my-2">
              <span class="left-span">Catégorie(s):</span>
              <span class="right-span">
                {{ f.VueApprentisEtFormation.nomCategorie }}</span>
            </div>
            <div class="my-2">
              <span class="left-span">Société:</span>
              <span class="right-span">
                <a class="ms-2 company-link" (click)="
                    goToCompanyProfile(f.VueApprentisEtFormation.idSociete)
                  ">
                  {{ f.VueApprentisEtFormation.societe_nom }}</a></span>
            </div>
            <div class="my-2">
              <span class="left-span">Date:</span>
              <span class="right-span">
                du {{ formatDate(f.VueApprentisEtFormation.dateDebut) }} à
                {{ formatDate(f.VueApprentisEtFormation.dateFin) }}</span>
            </div>
            <div class="my-2">
              <span class="left-span">Fréquence:</span>
              <span class="right-span">
                {{ f.VueApprentisEtFormation.frequence }}</span>
            </div>
            <div class="my-2">
              <span class="left-span">Tarif:</span>
              <span class="right-span">
                {{ f.VueApprentisEtFormation.tarif | number : "1.2-2" }}
                ariary</span>
            </div>
            <div class="action-btn my-2">
              <button class="btn btn-sinscri mb-2" (click)="
                  gotToDetailFormation(f.VueApprentisEtFormation.formation_id)
                ">
                Voir plus de details
              </button>
            </div>
          </swiper-slide>
        </swiper-container>
        <p *ngIf="
            dataApprentiFormation === undefined ||
            dataApprentiFormation.length == 0
          ">
          Vous ne vous êtes pas encore inscrit(e) à aucune formation
        </p>
      </div>
      <hr />
      <h2>Dans quel domaine souhaitez-vous vous former ?</h2>
      <div class="type-formation">
        <span (click)="refreshFormations(0)" class="type">Tout</span>
        <span (click)="refreshFormations(c.ID)" class="type" *ngFor="let c of dataCategorie">{{ c.NomCategorie }}</span>
      </div>
    </div>
    <div *ngIf="
        isLoggedIn() &&
        (typeUserData === 'formateur' || typeUserData === 'societe')
      ">
      <h1>Vos formations</h1>
      <div class="type-formation">
        <span class="type">Tout</span>
        <span class="type" *ngFor="let c of dataCategorie">{{
          c.NomCategorie
        }}</span>
      </div>
    </div>
  </div>
  <!--
nom société, dates, frequence
  -->

  <div class="item-formation my-3">
    <div class="row">
      <swiper-container *ngIf="dataFormation" navigation="true" scrollbar="true" slides-per-view="3.5"
        data-aos="fade-left" data-aos-duration="1000">
        <swiper-slide class="col-lg-4 mx-2 info-formation" *ngFor="let f of dataFormation" lazy="true" flixCoverHover>
          <img class="card-img-top" src="{{ 'assets/img/formation/' + f.formation_id + '.jfif' }}" alt="Title"
            loading="lazy" />
          <div class="title-formation-container py-2">
            <h4 class="title-formation card-title mb-3">
              {{ f.titreFormation }}
            </h4>
          </div>
          <hr />
          <div class="my-2">
            <span class="left-span">Catégorie(s):</span>
            <span class="right-span"> {{ f.nomCategorie }}</span>
          </div>
          <div class="my-2">
            <span class="left-span">Société:</span>
            <span class="right-span">
              <a class="ms-2 company-link" (click)="goToCompanyProfile(f.idSociete)">
                {{ f.societe_nom }}</a></span>
          </div>
          <div class="my-2">
            <span class="left-span">Date:</span>
            <span class="right-span">
              du {{ formatDate(f.dateDebut) }} à {{ formatDate(f.dateFin) }}</span>
          </div>
          <div class="my-2">
            <span class="left-span">Fréquence:</span>
            <span class="right-span"> {{ f.frequence }}</span>
          </div>
          <div class="my-2">
            <span class="left-span">Tarif:</span>
            <span class="right-span">
              {{ f.tarif | number : "1.2-2" }} Ariary</span>
          </div>
          <div class="action-btn my-2">
            <button class="btn btn-sinscri mb-2" (click)="gotToDetailFormation(f.formation_id)">
              Voir plus de details
            </button>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>