.intro-formation {
  border-bottom: 1px solid rgba(148, 148, 148, 0.74);
  margin: 25px 0;
}

.type-formation {
  padding: 15px 0;
  margin-bottom: 15px;
}

.type {
  border: 1px solid rgb(110, 110, 110);
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px;
}

.type:hover {
  cursor: pointer;
  background-color: rgb(110, 110, 110);
  color: #fff;
  padding: 5px;
  margin: 0 5px;
}

.card-body {
  background-color: #f8f8f8;
}

.btn-sinscri {
  background-color: #1b978d;
  color: #fff;
  transition: all ease-in-out;
}

.btn-sinscri:hover {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: -1px;
}

.btn-sinscri:active {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: 1px;
}

.left-span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.9em;
}

.right-span {
  font-size: 0.9em;
}

.company-link {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

.company-link:hover {
  cursor: pointer;
  color: rgb(0, 0, 151, 0.616);
}

.title-formation-container {
  height: 50px;
}

.title-formation {
  font-size: 1.1em;
  font-weight: normal;
}

.info-formation {
  border: 1px solid rgb(214, 214, 214);
  padding: 10px;
  border-radius: 10px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}