.chart-desc {
  padding: 10px 0;
  background-color: #1b978d;
  border-radius: 7px;
}

.chart-desc p {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 1.6em;
  color: #fff;
}
