<div class="container pt-3 pb-5" data-aos="fade-down" data-aos-duration="1000">
  <h1 class="pb-4" style="text-decoration: underline">Tableau de bord</h1>
  <div class="row justify-content-center align-items-center g-3">
    <div class="col-lg-6 chart">
      <app-chart></app-chart>
      <div class="chart-desc">
        <p class="text-center">
          Chiffre d'affaire par formation
        </p>
      </div>
      <div style="border-bottom: 1px solid black; padding: 5px 0"></div>
    </div>
    <div class="col-lg-6">
      <app-donut></app-donut>
      <div class="chart-desc">
        <p class="text-center">Effectifs d'apprentis par formation</p>
      </div>
      <div style="border-bottom: 1px solid black; padding: 5px 0"></div>
    </div>
    <div class="col-lg-6">
      <app-line></app-line>
      <div class="chart-desc">
        <p class="text-center">
          Nombre d'inscription d'apprenti
        </p>
      </div>
      <div style="border-bottom: 1px solid black; padding: 5px 0"></div>
    </div>
    <div class="col-lg-6">
      <app-pie></app-pie>
      <div class="chart-desc">
        <p class="text-center">Taux de réussite par formation</p>
      </div>
      <div style="border-bottom: 1px solid black; padding: 5px 0"></div>
    </div>
  </div>
</div>