<div class="container my-4" ngForm #quizForm="ngForm" data-aos="fade-down" data-aos-duration="1000">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
    <!-- Question 1 -->
    <li [ngbNavItem]="1">
      <button ngbNavLink>Question 1</button>
      <ng-template ngbNavContent>
        <p>Quelle activité vous passionne le plus ?</p>
        <ul>
          <li>
            <label><input type="radio" name="q1" [(ngModel)]="answers.q1" value="a" />
              Activités artistiques, comme la peinture ou la sculpture</label>
          </li>
          <li>
            <label><input type="radio" name="q1" [(ngModel)]="answers.q1" value="b" />
              Activités créatives, comme la conception graphique</label>
          </li>
          <li>
            <label><input type="radio" name="q1" [(ngModel)]="answers.q1" value="c" />
              Activités organisationnelles, comme la gestion de projet</label>
          </li>
          <li>
            <label><input type="radio" name="q1" [(ngModel)]="answers.q1" value="d" />
              Activités techniques, comme la programmation informatique</label>
          </li>
          <li>
            <label><input type="radio" name="q1" [(ngModel)]="answers.q1" value="e" />
              Activités scientifiques, comme la recherche en laboratoire</label>
          </li>
        </ul>
      </ng-template>
    </li>

    <!-- Question 2 -->
    <li [ngbNavItem]="2">
      <button ngbNavLink>Question 2</button>
      <ng-template ngbNavContent>
        <p>Comment préférez-vous résoudre un problème complexe?</p>
        <ul>
          <li>
            <label><input type="radio" name="q2" [(ngModel)]="answers.q2" value="a" />
              En explorant différentes perspectives et idées</label>
          </li>
          <li>
            <label><input type="radio" name="q2" [(ngModel)]="answers.q2" value="b" />
              En suivant des étapes logiques et bien définies</label>
          </li>
          <li>
            <label><input type="radio" name="q2" [(ngModel)]="answers.q2" value="c" />
              En cherchant des solutions originales et créatives</label>
          </li>
          <li>
            <label><input type="radio" name="q2" [(ngModel)]="answers.q2" value="d" />
              En analysant les faits et les données de manière approfondie</label>
          </li>
          <li>
            <label><input type="radio" name="q2" [(ngModel)]="answers.q2" value="e" />
              En utilisant des modèles et des théories établis</label>
          </li>
        </ul>
      </ng-template>
    </li>

    <!-- Question 3 -->
    <li [ngbNavItem]="3">
      <button ngbNavLink>Question 3</button>
      <ng-template ngbNavContent>
        <p>Quelle compétence vous semble la plus importante?</p>
        <ul>
          <li>
            <label><input type="radio" name="q3" [(ngModel)]="answers.q3" value="a" />
              Créativité et pensée originale</label>
          </li>
          <li>
            <label><input type="radio" name="q3" [(ngModel)]="answers.q3" value="b" />
              Organisation et gestion du temps</label>
          </li>
          <li>
            <label><input type="radio" name="q3" [(ngModel)]="answers.q3" value="c" />
              Compétences techniques ou analytiques</label>
          </li>
          <li>
            <label><input type="radio" name="q3" [(ngModel)]="answers.q3" value="d" />
              Compétences relationnelles et interpersonnelles</label>
          </li>
          <li>
            <label><input type="radio" name="q3" [(ngModel)]="answers.q3" value="e" />
              Compétences de résolution de problèmes</label>
          </li>
        </ul>
      </ng-template>
    </li>

    <!-- Question 4 -->
    <li [ngbNavItem]="4">
      <button ngbNavLink>Question 4</button>
      <ng-template ngbNavContent>
        <p>Quelle est votre relation avec la technologie ?</p>
        <ul>
          <li>
            <label><input type="radio" name="q4" [(ngModel)]="answers.q4" value="a" />
              Vous adorez et suivez constamment les dernières technologies</label>
          </li>
          <li>
            <label><input type="radio" name="q4" [(ngModel)]="answers.q4" value="b" />
              Vous l'utilisez de manière fonctionnelle au quotidien</label>
          </li>
          <li>
            <label><input type="radio" name="q4" [(ngModel)]="answers.q4" value="c" />
              Vous préférez des activités sans technologie</label>
          </li>
          <li>
            <label><input type="radio" name="q4" [(ngModel)]="answers.q4" value="d" />
              Vous êtes intéressé par l'intégration de la technologie dans le travail</label>
          </li>
          <li>
            <label><input type="radio" name="q4" [(ngModel)]="answers.q4" value="e" />
              Vous préférez travailler avec des outils traditionnels</label>
          </li>
        </ul>
      </ng-template>
    </li>

    <!-- Question 5 -->
    <li [ngbNavItem]="5">
      <button ngbNavLink>Question 5</button>
      <ng-template ngbNavContent>
        <p>Comment préférez-vous travailler en équipe ?</p>
        <ul>
          <li>
            <label><input type="radio" name="q5" [(ngModel)]="answers.q5" value="a" />
              En encourageant la collaboration créative</label>
          </li>
          <li>
            <label><input type="radio" name="q5" [(ngModel)]="answers.q5" value="b" />
              En assurant une organisation efficace et la délégation de tâches</label>
          </li>
          <li>
            <label><input type="radio" name="q5" [(ngModel)]="answers.q5" value="c" />
              En contribuant avec des compétences spécialisées</label>
          </li>
          <li>
            <label><input type="radio" name="q5" [(ngModel)]="answers.q5" value="d" />
              En favorisant un environnement harmonieux et motivant</label>
          </li>
          <li>
            <label><input type="radio" name="q5" [(ngModel)]="answers.q5" value="e" />
              En assurant une communication ouverte et transparente</label>
          </li>
        </ul>
      </ng-template>
    </li>

    <!-- ... (questions suivantes) ... -->
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <div class="mb-3">
    <button class="btn btn-outline-primary me-1" [disabled]="active === 1" (click)="nav.select(active - 1)">
      Précédent
    </button>
    <button class="btn btn-outline-primary ms-1" [disabled]="active === 5" (click)="nav.select(active + 1)">
      Suivant
    </button>
  </div>
  <hr />
  <!-- Bouton Soumettre -->
  <button class="btn btn-primary" [disabled]="active !== 5" (click)="openVerticallyCentered(content)">Soumettre</button>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Résultat de votre orientation</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Vos réponses indiquent une forte affinité pour le monde de la technologie. Vous pourriez exceller en tant que
        développeur de logiciels, ingénieur informatique ou professionnel de la tech.
        16 à 20 points : Domaine de l'Art et de la Créativité</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">
        Fermer
      </button>
    </div>

    <!--  -->
  </ng-template>
</div>