/* .cover {
  position: relative;
  height: 88.5vh;
  background-image: url("../../../assets/img/home.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b978dad;
  z-index: -1;
}

.accueil {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 50%;
}*/

.accueil {
  width: 50%;
  margin: 0 auto;
  background: #1b978dee;
  padding: 10px 25px;
  border-radius: 10px;
}

.accueil h3 {
  text-align: center;
}

.header-carousel {
  width: 100%;
  height: 82.5vh;
  object-fit: cover;
}

p {
  text-align: justify;
}

.btn-custom {
  background-color: #f4fafb;
}

.btn-custom:hover {
  position: relative;
  background-color: #f4fafb;
  color: #000000;
  top: -1px;
}

.btn-custom:active {
  position: relative;
  background-color: #f4fafb;
  color: #000000;
  top: 1px;
}

.btn-flex {
  display: flex;
  height: auto;
  justify-content: center;
}

.card {
  height: auto;
}

.card-body {
  background-color: #f4f4f4;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-contact {
  background-color: #1b978d;
  color: #fff;
  transition: all ease-in-out;
}

.btn-contact:hover {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: -1px;
}

.btn-contact:active {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #1b978d;
  color: #000000;

  top: 1px;
}

.frame {
  right: 5px;
  height: 50vh;
}

/* cmt */
#contact,
#why {
  /* fallback for old browsers */
  background: #1b978d;
}

.card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
