<header data-aos="fade-down" data-aos-duration="1500">
  <ngb-carousel *ngIf="images" [interval]="5000" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper" data-aos="fade-down" data-aos-duration="1000">
        <img [src]="image.link" alt="Random slide" class="header-carousel" />
      </div>
      <div class="carousel-caption accueil" data-aos="fade-down" data-aos-duration="2000">
        <h3 class="text-light mb-4">
          {{ image.title }}
        </h3>
        <p class="text-light lead">
          {{ image.content }}
        </p>
        <a class="btn btn-custom d-block" (click)="scrollToSection('cmt'); isMenuCollapsed = true">Pour savoir plus
          cliquer ici</a>
      </div>
    </ng-template>
  </ngb-carousel>
</header>
<!-- comment ça marche -->
<div #cmt id="cmt" class="container py-3">
  <div class="py-2" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="display-5 text-center">Comment ça marche? Si vous êtes....</h2>
    <div class="row g-3 pt-3">
      <div class="col-lg-4 col-md-12">
        <div class="card mb-3">
          <img src="assets/img/accueil/apprentis.jfif" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title text-center">Apprenti</h3>
            <p class="card-text">
              Bénéficiez d'une formation professionnelle de qualité, vous
              offrant des compétences recherchées sur le marché du travail.
              Notre programme d'apprentissage offre un accompagnement
              personnalisé, des projets concrets et des mentors expérimentés
              pour vous aider à atteindre vos objectifs professionnels. Avec
              nous, vous bénéficiez d'une expérience formatrice complète,
              propice à votre épanouissement personnel et professionnel.
            </p>
            <div class="btn-flex" *ngIf="!isLoggedIn()">
              <button class="mx-2 btn btn-outline-dark" (click)="goToLogIn('apprentis')">
                Se connecter
              </button>
              <button class="mx-2 btn btn-outline-dark" (click)="goToInscriptionApprentis()">
                Créer un compte
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card mb-3">
          <img src="assets/img/accueil/societe.jfif" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title text-center">Société</h3>
            <p class="card-text">
              Rejoignez-nous en tant que membre et formez des collaborateurs
              compétents en toute confiance. Nous sommes déterminés à établir un
              environnement professionnel stimulant qui favorise la croissance
              individuelle et collective. En devenant membre, vous aurez accès à
              des opportunités exclusives de développement professionnel et à un
              réseau d'experts pour renforcer votre équipe.
            </p>
            <div class="btn-flex" *ngIf="!isLoggedIn()">
              <button class="mx-2 btn btn-outline-dark" (click)="goToLogIn('societe')">
                Se connecter
              </button>
              <button class="mx-2 btn btn-outline-dark" (click)="goToInscriptionSociete()">
                Créer un compte
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card mb-3">
          <img src="assets/img/accueil/formateur.jfif" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title text-center">Formateur</h3>
            <p class="card-text">
              Partagez vos connaissances et formez de nouveaux talents pour
              contribuer au succès de votre entreprise et du vôtre. En tant que
              formateur, vous serez au cœur d'une communauté dynamique d'experts
              partageant les mêmes valeurs. Nous mettons à votre disposition des
              outils pédagogiques de pointe et facilitons la création d'un
              environnement d'apprentissage collaboratif, propice à l'émergence
              de compétences exceptionnelles chez vos apprenants. Rejoignez-nous
              pour être un acteur clé dans la construction de l'avenir
              professionnel.
            </p>
            <div class="btn-flex" *ngIf="!isLoggedIn()">
              <button class="mx-2 btn btn-outline-dark" (click)="goToLogIn('formateur')">
                Se connecter
              </button>
              <button class="mx-2 btn btn-outline-dark">
                Créer un compte
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- pourquoi nous faire confiance -->
<div #why id="why" class="py-3">
  <div class="container py-2" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="display-5 text-center text-light">
      Pourquoi nous faire confiance?
    </h2>
    <div class="list-group">
      <a class="list-group-item">Formation professionnelle assurée par les embaucheurs axé sur leur domaine de
        spécialité</a>
      <a class="list-group-item">Facilité d’embauche</a>
      <a class="list-group-item">Mise en avant des besoins du marché local</a>
      <a class="list-group-item">Meilleur chance pour tout le monde, opportunité plus rapide et accessible</a>
      <a class="list-group-item">Raccourci, investissement de temps et d’argent rentable</a>
      <a class="list-group-item">Information important et facile d’accès</a>
    </div>
  </div>
</div>

<!-- FAQs -->
<div id="faqs" class="py-3">
  <div class="container" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="display-5 text-center">Foire aux questions</h2>
    <div class="my-4" ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem *ngFor="let f of data">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{ f.question }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template> {{ f.reponse }} </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact -->
<div id="contact" class="py-3">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-light text-center">Contact</h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-12 col-lg-9">
        <div class="bg-white border rounded shadow-sm overflow-hidden">
          <form action="#!">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
              <div class="col-12">
                <label for="fullname" class="form-label">Votre nom<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="fullname" name="fullname" value="" required />
              </div>
              <div class="col-12 col-md-6">
                <label for="email" class="form-label">Adresse Email <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-envelope" viewBox="0 0 16 16">
                      <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg>
                  </span>
                  <input type="email" class="form-control" id="email" name="email" value="" required />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <label for="phone" class="form-label">Votre numéro de téléphone</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-telephone" viewBox="0 0 16 16">
                      <path
                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                  </span>
                  <input type="tel" class="form-control" id="phone" name="phone" value="" />
                </div>
              </div>
              <div class="col-12">
                <label for="message" class="form-label">Votre message <span class="text-danger">*</span></label>
                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-contact btn-lg" type="submit">
                    Envoyer
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>