<div id="company" class="container">
  <div class="detail">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="">{{dataSociete.nom}}</h1>
        <p>
          {{dataSociete.descriptionDetail}}
        </p>
      </div>
      <div class="col-lg-6 align-self-center">
        <img class="img-fluid img-formation w-75"
          src="https://scontent.ftnr5-1.fna.fbcdn.net/v/t39.30808-6/255271902_419957863142244_8717231440516003269_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFbuC8_egZswiGsl4qTj-JSLfM9kWWsXOUt8z2RZaxc5f0U2t5KLMCiiNSNvrjrM2ScgEW4i3tJYISxn6oCxH2L&_nc_ohc=GnNeJ3JQLXcAX9EOSLQ&_nc_ht=scontent.ftnr5-1.fna&oh=00_AfB7CjNky8dIZ2To5GUnkCZ5m_IXQ8riwLwjUXzfteC48Q&oe=6550CEF8"
          alt="Title" />
      </div>
    </div>
  </div>
</div>